.cabecalho {
    background-image: linear-gradient(#a1345e #f70505);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 34px;
}

.cabecalho-imagem {
    width: 20%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
}

.PIMENTA-BIQUINHO-imagem {
    width: 25%;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
   }

.PIMENTA-BIQUINHO{
    background-image: linear-gradient(#a1345e,#f70505);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PIMENTA-BIQUINHO-div-conteudo{
    width: 35%;
    margin-left: 10px;
}
.PIMENTA-BIQUINHO-titulo{
    padding: 24px 0;
}