.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 34px;
}

.cabecalho-imagem {
    width: 20%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
}

.corpo {
    padding: 0px;
    margin: 0px;
}

.PIMENTA-BIQUINHO-imagem{
    width: 25%;
}

.PIMENTA-BIQUINHO{
    background-image: linear-gradient(#424E61,#4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PIMENTA-BIQUINHO-div-conteudo{
    width: 35%;
}
.PIMENTA-BIQUINHO-titulo{
    padding: 24px 0;
}