 .cabecalho{
    background-color: blue;
    color: rgb(14, 1, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 34px;
}

.cabecalho-imagem {
    width: 20%;
    justify-content: left
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
}

.PIMENTA-BIQUINHO-imagem {
    width: 25%;    
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    justify-content: right;
}

.PIMENTA-BIQUINHO{
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.PIMENTA-BIQUINHO-div-conteudo{
    width: 35%;
    margin-left: 10px;
}
.PIMENTA-BIQUINHO-titulo{
    padding: 25px 0;
}
.foto{
    width: 23%;
    display: ;
}
.pimrnta2.png{
    width: 30%;
    display: grid;
    align-items: center;
    column-gap: 10px;
    margin-left: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    justify-content: right;
}
.Pimenta-imagem{
    width: 20px;
}